body {
    padding: 2em;
  }
  
  table.table { width: 100%; }
  
  .table th, .table td { 
    text-align: left; 
    padding: 0.25em;
  }
  
  .table tr { 
    border-bottom: 1px solid #DDD;
  }
  td.edit-buttons { text-align: right; }
  button { 
    border-radius: 3px; 
    border: none; 
    margin: 0 0.25em; 
    transition: all 0.3s;
  }
  
  button:hover { 
    box-shadow: 0 0 4px rgba(3,3,3,0.8); 
    opacity: 0.9;
  }
  
  button.edit { background: #6F9; }
  button.delete { background: #F69; }
  
  @media screen and (max-width: 800px) {
    tr { 
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3,3,3,0.2);
    }
    td, th {
      flex: 1 1 150px;
      border: 0.5px solid rgba(3,3,3,0.2);
    }
   
    }
 
  

  * {-ms-ime-mode: border-box; font-family: 'futura'; }
 * { mask-mode: border-box; font-family: 'futura'; }

 HEAD
.flex-container {
  display: flex;
  flex-direction: column;
  background-position:unset;
  width:40%;
 
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: relative;
  top: 10%;
}
#main {
  background-color: yellow;   
  width: 600px;
  height: 300px;
  border-radius: 30px;
}
h1{
  color: yellow;
  background-color: black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.text {
  background-color: yellow;
  color: rgb(65, 65, 65);
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  border:none;
  text-align: center;
}
.text:focus{
      outline: none;
}
hr {
  width: 250px;
  margin-top: 0px !important;
}
#sub{
  width: 250px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: none;
}

#main2 {
  border: 1px solid;
  position: absolute;
  font-weight: 600;
  text-align: center;

}

  .cheese {
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    
  }
  
  .cheese > div {
    background-color: #f1f1f1;
   
    width: 600px;
    height: fit-content;
    margin: 10px;
    text-align: inherit;
    line-height: 20px;
    font-size: 10px;
    
  }
  

  .no-arrow {
    -moz-appearance: textfield;
  }
  .no-arrow::-webkit-inner-spin-button {
    display: none;
  }
  .no-arrow::-webkit-outer-spin-button,
  .no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  body{
    background-color: rgb(226, 228, 231);
}
table {
    width:50%;
  }
  
  table, th, td {
    border: 3px solid;
  }
  
  th, td {
    text-align: center;
    font-family:cursive;
    font-size:16px;
  }
  th {
    background-color: #00ff15;
  }
  caption {
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size:30px;
    font-weight:bold ;
  }  
  .center{
    margin-right: auto;
    margin-left: auto;
  }
  .center1{
    margin-right: auto;
  }
  
  .contactf {
    border: 3px solid;
    margin-right: auto;
    font-size:small;
    width: 30%;
  }
  .cof {
    text-align: left;
    width: 25%;
  }
  .contactf, td {
    border: 3px solid;
    text-align: center;
    font-size: medium;
    
  }
  input.button1{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
  }
  input.button1:hover{
    background-color:#4095c6;
  }

  .login-button {
    text-align: right;
    float: right;    
    }

    #loginb {
      background: #ff5722;
      border-color: transparent;
      color: #fff;
      font-weight: bold;  
    }
    
    
    .container1 {
      border-radius: 5px;
      width: 50%;
      border-style: solid;
      margin: 10px;
      width: 47%;
      float: left;
    }
    
    
    #besimg {
      width: 100px;
      height: 100px;
      padding: 10px;
      border: solid;
      border-radius: 5px;
      margin: 10px;
      vertical-align: middle;
    }
    
    #pp {
      margin-left: 10px;
    }
    
    .prijs {
      font-size: 20px;
      display: inline-block;
    }
    
    .table {
      float: right;
      border: 3px solid;
      border-radius: 5px;
      width: auto;
      margin: auto 40px 40px 40px;
    }
    
    th, td{
      padding: 10px;
      text-align: center;
      border: 3px solid;
    }
    
    .container2 {
      border-radius: 5px;
      border-style: solid;
      margin: 10px;
      float: left;
      width: 50%;
    }
    
    .container3 {
      border-radius: 5px;
      width: 50%;
      border-style: solid;
      margin: 10px;
      width: 45%;
      float: right;
      padding: 10px;
    }
    
    .sub {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-weight: bold;
    }
    
    

  @media all and (max-width:30em){
    input.button1{
      display:block;
      margin:0.2em auto;
    }
  }
  
  

  header{
    background-color: rgb(46, 35, 35);
  }
  .nav {
    position: relative;
    display: flex;
  }
  
  nav ul {
    list-style: none;
    text-align: right;
    display: inline-block;
  }
  
  nav li {
    display: inline-flex;
  }
  
  .login-button {
  float: right;
  text-align: center;
  }  
  
  li.NAV a:active, .knop:active {
  color: gray;
  }

